name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake SVG
        run: |
          mkdir -p dist
          curl -o dist/snake.svg https://raw.githubusercontent.com/Platane/snk/output/github-contribution-grid-snake.svg

      - name: Commit file
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist/snake.svg
          git commit -m "update snake" || echo "no changes"
          git push
